<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
        <v-app-bar class="blue-grey lighten-5" >
          <v-toolbar-title class="headline text-sentencecase font-weight-thin">
            <span>Expatability</span>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn text
              class="font-weight-light"
              >CITY SEARCH
            </v-btn>
            <v-btn text
              class="font-weight-light"
              >ABOUT
            </v-btn>
          </v-toolbar-items>
          <template v-if="$vuetify.breakpoint.smAndUp">
            <v-btn icon>
              <v-icon>mdi-home</v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon>mdi-email-send-outline</v-icon>
            </v-btn>
          </template>
        </v-app-bar>
        <v-content>
          <v-parallax
            dark
            src='static/images/sign.jpg'
          >
            <v-row
              align="center"
              justify="center"
            >
              <v-col class="text-center" cols="12">
                <h1 class="headline-text mb-4">Expatability</h1>
                <h4 class="subheading font-weight-regular">The power of knowing where
                  <br />
                  it makes the most sense for you to move</h4>
                <v-btn
                  rounded
                  large
                  color="blue-grey"
                  class="text-capitalize white--text font-weight-light center pa-3 mt-10"
                  v-on:click.native="proceed()"
                  >Get started with some questions!
                </v-btn>
              </v-col>
            </v-row>
          </v-parallax>

          <v-card
            class="mx-auto ma-8"
            max-width="1000"
            >
              <v-spacer></v-spacer>

            <v-container fluid>
              <v-row dense>
                <v-col
                  v-for="card in cards"
                  :key="card.title"
                  :cols="card.flex"
                >
                  <v-card>
                    <v-img
                      :src="card.src"
                      class="white--text font-weight-light text-wrap align-end"
                      gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                      height="230px"
                    >
                      <v-card-title v-text="card.title"></v-card-title>
                    </v-img>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                        <v-spacer></v-spacer>
                      <v-icon
                        large
                        v-on:click.native="proceed()"
                      >
                        mdi-arrow-right
                      </v-icon>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-card>

        </v-content>

        <v-footer app>
          <span>&copy; 2019</span>
        </v-footer>
    </v-app>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="static/js/script.js"></script>


</body>
</html>
