<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-toolbar>
          <v-toolbar-title>Expatability</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn text>HOME</v-btn>
            <v-btn text>CITY SEARCH</v-btn>
            <v-btn text>ABOUT</v-btn>
          </v-toolbar-items>
          <template v-if="$vuetify.breakpoint.smAndUp">
            <v-btn icon>
              <v-icon>mdi-export-variant</v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon>mdi-delete-circle</v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon>mdi-plus-circle</v-icon>
            </v-btn>
          </template>
        </v-toolbar>
        <v-parallax
          dark
          src='static/images/sign.jpg'
        >
          <v-row
            align="center"
            justify="center"
          >
            <v-col class="text-center" cols="12">
              <h1 class="display-1 font-weight-thin mb-4">Expatability</h1>
              <h4 class="subheading">Find out where it makes sense for YOU to move!</h4>
              <v-btn rounded color="blue-grey" dark>Get started with some questions!</v-btn>
            </v-col>
          </v-row>
        </v-parallax>
        <v-container class="grey lighten-5">
    <v-row no-gutters>
      <v-col>
        <v-btn
                x-large color="success"
                dark
                v-on:click.native="clicked()"
                >
                Robs Button
        </v-btn>
      </v-col>
      <v-col>
        <v-btn x-large color="success" dark>Extra large Button</v-btn>
      </v-col>
      <v-col>
        <v-btn x-large color="success" dark>Extra large Button</v-btn>
      </v-col>
      <v-col>
        <v-btn x-large color="success" dark>Extra large Button</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
      </v-content>
    </v-app>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="static/js/script.js"></script>

</body>
</html>


<template>
  <div class="text-center">
    <v-btn rounded color="primary" dark>Rounded Button</v-btn>
  </div>
</template>